/* App.css */

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  /* max-width: 600px;\
   */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 50px;
  width: fit-content;
}

h1 {
  color: #333;
}
h3 {
  color: #333;
}
/* Input Section */
.input-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.output-section {
  display: inline-block;
  margin-right: 20px;
}
.out {
  display: flex;
  width: fit-content;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

/* Output Section */
.output-section {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  width: fit-content;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

pre {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  white-space: pre-wrap; /* Preserve line breaks in the output */
}
